body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
  
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
  

  
  header {
    background: #50a3a2;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
  }
  
  /* header a, */
  header a {
    line-height: 20px;
  }
  
  nav a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
  }
  
  header ul,
  nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  header li,
  nav li {
    float: left;
    padding: 0 20px;
  }
  
  header #branding {
    float: none;
  }
  
  header #branding h1 {
    margin: 0;
  }
  
  header nav {
    float: right;
    margin-top: 10px;
  }
  
  header .highlight,
  header .current a,
  nav a:hover,
  nav li:hover,
  .language-toggle:hover { /* Combined hover effects */
    background-color: #e8491d;
    color: white;
  }
  
  .main {
    padding: 30px 0;
  }
  
  .main h2 {
    color: #333;
  }
  
  .main p {
    font-size: 18px;
    line-height: 1.6em;
  }
  
  footer {
    padding: 20px 0;
    background-color: #50a3a2;
    color: white;
    text-align: center;
  }
  
  footer p {
    margin: 0;
  }
  
  .language-toggle {
    cursor: pointer;
    padding: 0;
    margin: 0;
    font-size: 1em;
    font-weight: bold;
  }
  
  .language-toggle:focus {
    outline: none;
  }

  /* Assuming you want the name to be a part of the navigation bar */
header #branding {
    float: left; /* This will align your name to the left */
    color: white; /* Assuming you want your name in white, change as needed */
    margin-left: 0; /* Add some spacing from the edge */
  }
  
  header #branding h1 {
    margin: 0; /* Removes any default margin */
    padding-left: 160px; /* Removes any default padding */
  }
  
section {
    padding-left: 160px;
    padding-right: 320px;
}
  